.mainContainer {
  padding: 20px;
  display: flex;
  gap: 100px;
}
.sidebarContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.con2 {
  flex: 1;
}

.listItem {
  display: flex;
  align-items: center;
  max-width: 400px;
  border-bottom: 1px solid rgb(159, 158, 158);
}
.listItem p {
  flex: 1;
}

label {
  font-weight: bold;
}
input {
  padding: 10px;
  min-width: 400px;
  margin-bottom: 10px;
}
button {
  padding: 10px 30px;
}
